* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0px 30px;
}

.nav {
  background: #004e7c;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my_logo{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li{
 margin: 0px 18px;
 font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav li:hover{
  border-bottom: 1px solid #fff;
}

.btn{
  padding:0.4rem 0.8rem;
  color: #004e7c;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.back_btn{
  background: #004e7c;
  color: #fff;
  padding: 10px 13px;
  font-weight: bold;
  font-size: 0.6rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}